.banner {
  background-image: url("https://i.ibb.co/w43Fp6b/slider1.jpg");
  width: 100%;
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  color: white;
}
